.portfolio-section {
    padding: 2% 10% 2% 10%;
}


.internal-box {    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% auto 20%;
}

.header-box {
    grid-column-start: 1;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 2;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

.exit-box {
    opacity: 0;
    flex-grow: 0;
}

.exit-box i {
    color: white;
    font-size: 5vw;
}

.title-box {
    flex-grow: 8;
}

.title-box h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    color: white;
}

.visible-box {
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 3;
}

.hidden-box {
    visibility: hidden;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    
    height: 0px;
}

.content-box {
    display: flex;
    flex-direction: row;
}

.description-box { 
    padding: 2%;
    width: 50%;
}

.description-box h1 {
    text-align: left;
    color: white;
    
    font-size: 3vw;
    
}

.description-box p {
    color: white;
    font-size: 1.35vw;
}


.image-box {
    width: 50%;
    
}

.image-box img {
    max-width:100%;
    max-height: 90%;
}

.button-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    
    justify-self: center;
    
    padding: 2%; 
}

.button-box button { 
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 25px;
    
    
    color: white;
    font-weight: bold;
}

.box-left {
    grid-column-start: 1;
    grid-column-end: 2;
}

.box-right {
    grid-column-start: 2;
    grid-column-end: 3;
}

@media screen and (max-width: 900px) {
   
    .content-box {
        flex-direction: column;
    }
    
    .description-box {
        width: 100%;
    }
    
    .image-box {
        width: 100%;
    }
    
    .header-box .title-box h1 {
        font-size: 12vw;
    }
    
    .description-box h1 {
        font-size: 7vw;
    }
    
    .description-box p {
        font-size: 3vw;
    }
    
    .exit-box i {
        font-size: 10vw;
    }
    
}


/*
.web .button-box button {
    background-color: darkblue;
}  

div.web {
    background-color: darkblue;
}


.apps .button-box button {
    background-color: #CC444A;
}  

div.apps {
    background-color: #CC444A;
}*/
