.content {
    display: grid;
    grid-template-columns: 12vw 88vw;
    grid-template-rows: 5vh 95vh;
    height: 100vh;
}

.top-bar {
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #222;
    padding: .5%;
}

.top-bar .toggle i {
    color: white;
    font-size: 2vw;
}

.nav-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;

    background-color: #222;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
    padding: 10%;
}


.navlink {
    flex-grow: 1;
}

.nav-bar h1 {
    color: white;
    font-size: 2vw;
    text-align: right;
}

.bubbles {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    
    height: 100%;
    width: 10%;

    display: flex;
    flex-direction: column;
    padding: 2%;
    
    z-index: 100;
}

.bubbles > div {
    flex-grow: 1;
}

.bubbles > div > div {
    height: 6vh;
    width: 6vh;
    border-radius: 250px;
}

.bubbles > .web > div {
    background-color: darkblue;
}

.bubbles > .apps > div{
    background-color: darkred;
}

.bubbles > .data > div{
    background-color: limegreen;
}

.bubbles > .robo > div{
    background-color: orange;
}

.bubbles > .work > div{
    background-color: dimgrey;
}

.bubbles > .clubs > div{
    background-color: lightpink;
}

.bubbles > .edu > div{
    background-color: purple;
}

.bubbles > .contact > div{
    background-color: black;
}


@media only screen and (max-width: 900px) {
    .content {
        grid-template-rows: 10vh 90vh;
    }
    
    .top-bar {
        padding: 3vh;
    }
    
    .top-bar .toggle i {
        font-size: 8vw;
    }
    
    .home {
        display: none;
    }
    
    .pages h1 {
        font-size: 10vw;
    }
}


